$fontbodyWgt: 200;

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-inline: auto;
	font-family: 'Rubik', sans-serif;
	width: 100%;
}

.header-container {
	width: 100%;
	box-shadow: 0 5px 2px -2px rgb(154, 154, 154);
	display: flex;
	justify-content: center;
	
	.header-sub{ 
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: min(100% - 2rem, 90rem);

		.logo-name{
			display: flex;
			gap: 1rem;
			align-items: center;
	
			.logo-icon {
				transform: rotate(90deg);
				width: 4vh;
			}
		}
		.navigation-container{
	
			.nav-link-wrapper {
				list-style: none;
				display: flex;
				gap: 1rem;
	
				a:link, :visited {
					text-decoration: none;
					color: black;
				}
	
				.nav-link {
					font-weight: bold;
				}
			}
		}
	}
}

#hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #F9F9F9;
	
	.hero-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr) 3fr 1fr;
		grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr);
		grid-column-gap: 6rem;
		grid-row-gap: 0px;
	
		width: min(100% - 2rem, 90rem);
		height: 53.125rem;
		flex-shrink: 0;
		
		.name-wrapper { 
			grid-area: 2 / 2 / 3 / 4;
			.name-span {
				font-weight: $fontbodyWgt;
			}
			.last-name-span {
				color: #2400FF;
			}
		}
		.name-summary { 
			grid-area: 3 / 2 / 4 / 5; 
	
			.summary {
				color: #232E35;
				font-family: 'Rubik', sans-serif;
				font-size: 1.25rem;
				font-style: normal;
				font-weight: $fontbodyWgt;
				line-height: 2rem; 
			}
		}
		.name-icons { 
			grid-area: 4 / 2 / 5 / 4;

			display: flex;
			flex-direction: row;
			gap: 2rem;
		 }
		.name-picture { 
			grid-area: 2 / 5 / 5 / 6; 
		}
	}
}

#services-section {
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: center;
	padding-top: 4rem;

	width: 100%;

	.service-header-text {
		margin-top: 3rem;
	}
	.service-span {
		font-weight: $fontbodyWgt;
	}
	.service-heading {
		color: #30F;
		font-family: 'Roboto Mono';
		font-size: 2.1875rem;
		font-style: normal;
		font-weight: 700;
		line-height: 2rem; /* 91.429% */
	}
	.services-highlight-wrapper {
		display: flex;
		flex-direction:  row;

		.uix-design, .web-dev, .app-dev{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 25rem;
			box-sizing: border-box;

			.uix-logo, .web-dev-logo, .app-logo {
				width: 50px;
				height: 50px;
				flex-shrink: 0;

				display: flex;
				justify-content: center;
				align-items: center;

				border-radius: 0.625rem;
				background: #AD9FFF;
				.uix-icon, .web-dev-icon, .app-icon {
					width: 2.1875rem;
					height: 2.13994rem;
					flex-shrink: 0;
				}
			}
			.uix-text, .web-dev-text, .app-text {
				color: #000;
				font-family: 'Roboto Mono';
				font-size: 1.4375rem;
				font-style: normal;
				font-weight: 500;
				line-height: 2rem; /* 139.13% */
				margin-top: 1rem;
				margin-bottom: 0.5rem;
			}
			.uix-subtext, .web-dev-subtext, .app-subtext {
				width: 20.625rem;
				height: 6.6875rem;
				flex-shrink: 0;	
				text-align: center;
				margin: 0;
			}
		}
	}
}

#portfolio-section {
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: center;

	.portfolio-header-text {
		color: #000;
		font-size: 1.4375rem;
		font-style: normal;
		font-weight: 600;
		line-height: normal;

		padding-top: 4rem;

		.portfolio-span {
			color: #000;
			font-family: 'Roboto Mono';
			font-size: 1.4375rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
	.portfolio-heading {
		color: #2400FF;
		font-family: 'Roboto Mono';
		font-size: 2.1875rem;
		font-style: normal;
		font-weight: 700;
		line-height: 2rem; /* 91.429% */
	}
	#splide01 {
		padding-top: 4rem;
		width: min(100% - 2rem, 100rem);
	}

	.splide {

		.splide-wrapper {
			display: flex;
			flex-direction: column;
			justify-items: center;
			place-content: center;
			height: 50vh;
			background-color: aqua;
			
			.splide__list {

				.splide__slide {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					
					
					.slide-width {
						aspect-ratio: 16 / 9;
						width: 28rem;
						border-radius: 1rem;
					}
				}
			}
			
		}
	}
	
}

