$fontbodyWgt: 200;

:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-inline: auto;
	font-family: 'Rubik', sans-serif;
	width: 100%;
}

.header-container {
	width: 100%;
	box-shadow: 0 5px 2px -2px rgb(154, 154, 154);
	display: flex;
	justify-content: center;
	.header-sub{ 
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: min(100% - 2rem, 90rem);

		.logo-name{
			display: flex;
			gap: 1rem;
			align-items: center;
	
			.logo-icon {
				transform: rotate(90deg);
				width: 4vh;
			}
		}
		.navigation-container{
	
			.nav-link-wrapper {
				list-style: none;
				display: flex;
				gap: 1rem;
	
				a:link, :visited {
					text-decoration: none;
					color: black;
				}
	
				.nav-link {
					font-weight: bold;
				}
			}
		}
	}
}

#hero-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #F9F9F9;
	
	.hero-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr) 3fr 1fr;
		grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr);
		grid-column-gap: 6rem;
		grid-row-gap: 0px;
	
		width: min(100% - 2rem, 90rem);
		height: 53.125rem;
		flex-shrink: 0;
		
		.name-wrapper { 
			grid-area: 2 / 2 / 3 / 4;
			.name-span {
				font-weight: $fontbodyWgt;
			}
			.last-name-span {
				color: #2400FF;
			}
		}
		.name-summary { 
			grid-area: 3 / 2 / 4 / 5; 
	
			.summary {
				color: #232E35;
				font-family: 'Rubik', sans-serif;
				font-size: 1.25rem;
				font-style: normal;
				font-weight: $fontbodyWgt;
				line-height: 2rem; 
			}
		}
		.name-icons { 
			grid-area: 4 / 2 / 5 / 4;

			display: flex;
			flex-direction: row;
			gap: 2rem;
		 }
		.name-picture { 
			grid-area: 2 / 5 / 5 / 6; 
		}
	}
}

#services-section {
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: center;
	padding-top: 4rem;

	.service-span {
		font-weight: $fontbodyWgt;
	}
	.service-heading {
		color: #30F;
		font-family: 'Roboto Mono';
		font-size: 2.1875rem;
		font-style: normal;
		font-weight: 700;
		line-height: 2rem; /* 91.429% */
	}
	.services-highlight-wrapper {
		display: flex;
		flex-direction:  row;

		.uix-design {
			.uix-logo {
				width: 3.625rem;
				height: 3.625rem;
				flex-shrink: 0;

				border-radius: 0.625rem;
				background: #AD9FFF;
				.uix-icon {
					width: 2.1875rem;
					height: 2.13994rem;
					flex-shrink: 0;
				}
			}
		}
	}
}