:root {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	margin-inline: auto;
	font-family: 'Rubik', sans-serif;
	width: 100%;
}

.header-container {
	width: 100%;
	box-shadow: 0 5px 2px -2px rgb(154, 154, 154);
	display: flex;
	justify-content: center;
	.header-sub{ 
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: min(100% - 2rem, 90rem);

		.logo-name{
			display: flex;
			gap: 1rem;
			align-items: center;
	
			.logo-icon {
				transform: rotate(90deg);
				width: 4vh;
			}
		}
		.navigation-container{
	
			.nav-link-wrapper {
				list-style: none;
				display: flex;
				gap: 1rem;
	
				a:link, :visited {
					text-decoration: none;
					color: black;
				}
	
				.nav-link {
					font-weight: bold;
				}
	
			}
	
		}
	}
	
}