:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  font-family: "Rubik", sans-serif;
  width: 100%;
}

.header-container {
  width: 100%;
  box-shadow: 0 5px 2px -2px rgb(154, 154, 154);
  display: flex;
  justify-content: center;
}
.header-container .header-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100% - 2rem, 90rem);
}
.header-container .header-sub .logo-name {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header-container .header-sub .logo-name .logo-icon {
  transform: rotate(90deg);
  width: 4vh;
}
.header-container .header-sub .navigation-container .nav-link-wrapper {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.header-container .header-sub .navigation-container .nav-link-wrapper a:link, .header-container .header-sub .navigation-container .nav-link-wrapper :visited {
  text-decoration: none;
  color: black;
}
.header-container .header-sub .navigation-container .nav-link-wrapper .nav-link {
  font-weight: bold;
}

#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F9F9F9;
}
#hero-section .hero-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 3fr 1fr;
  grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr);
  grid-column-gap: 6rem;
  grid-row-gap: 0px;
  width: min(100% - 2rem, 90rem);
  height: 53.125rem;
  flex-shrink: 0;
}
#hero-section .hero-container .name-wrapper {
  grid-area: 2/2/3/4;
}
#hero-section .hero-container .name-wrapper .name-span {
  font-weight: 200;
}
#hero-section .hero-container .name-wrapper .last-name-span {
  color: #2400FF;
}
#hero-section .hero-container .name-summary {
  grid-area: 3/2/4/5;
}
#hero-section .hero-container .name-summary .summary {
  color: #232E35;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2rem;
}
#hero-section .hero-container .name-icons {
  grid-area: 4/2/5/4;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
#hero-section .hero-container .name-picture {
  grid-area: 2/5/5/6;
}

#services-section {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
  padding-top: 4rem;
  width: 100%;
}
#services-section .service-header-text {
  margin-top: 3rem;
}
#services-section .service-span {
  font-weight: 200;
}
#services-section .service-heading {
  color: #30F;
  font-family: "Roboto Mono";
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 91.429% */
}
#services-section .services-highlight-wrapper {
  display: flex;
  flex-direction: row;
}
#services-section .services-highlight-wrapper .uix-design, #services-section .services-highlight-wrapper .web-dev, #services-section .services-highlight-wrapper .app-dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  box-sizing: border-box;
}
#services-section .services-highlight-wrapper .uix-design .uix-logo, #services-section .services-highlight-wrapper .uix-design .web-dev-logo, #services-section .services-highlight-wrapper .uix-design .app-logo, #services-section .services-highlight-wrapper .web-dev .uix-logo, #services-section .services-highlight-wrapper .web-dev .web-dev-logo, #services-section .services-highlight-wrapper .web-dev .app-logo, #services-section .services-highlight-wrapper .app-dev .uix-logo, #services-section .services-highlight-wrapper .app-dev .web-dev-logo, #services-section .services-highlight-wrapper .app-dev .app-logo {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  background: #AD9FFF;
}
#services-section .services-highlight-wrapper .uix-design .uix-logo .uix-icon, #services-section .services-highlight-wrapper .uix-design .uix-logo .web-dev-icon, #services-section .services-highlight-wrapper .uix-design .uix-logo .app-icon, #services-section .services-highlight-wrapper .uix-design .web-dev-logo .uix-icon, #services-section .services-highlight-wrapper .uix-design .web-dev-logo .web-dev-icon, #services-section .services-highlight-wrapper .uix-design .web-dev-logo .app-icon, #services-section .services-highlight-wrapper .uix-design .app-logo .uix-icon, #services-section .services-highlight-wrapper .uix-design .app-logo .web-dev-icon, #services-section .services-highlight-wrapper .uix-design .app-logo .app-icon, #services-section .services-highlight-wrapper .web-dev .uix-logo .uix-icon, #services-section .services-highlight-wrapper .web-dev .uix-logo .web-dev-icon, #services-section .services-highlight-wrapper .web-dev .uix-logo .app-icon, #services-section .services-highlight-wrapper .web-dev .web-dev-logo .uix-icon, #services-section .services-highlight-wrapper .web-dev .web-dev-logo .web-dev-icon, #services-section .services-highlight-wrapper .web-dev .web-dev-logo .app-icon, #services-section .services-highlight-wrapper .web-dev .app-logo .uix-icon, #services-section .services-highlight-wrapper .web-dev .app-logo .web-dev-icon, #services-section .services-highlight-wrapper .web-dev .app-logo .app-icon, #services-section .services-highlight-wrapper .app-dev .uix-logo .uix-icon, #services-section .services-highlight-wrapper .app-dev .uix-logo .web-dev-icon, #services-section .services-highlight-wrapper .app-dev .uix-logo .app-icon, #services-section .services-highlight-wrapper .app-dev .web-dev-logo .uix-icon, #services-section .services-highlight-wrapper .app-dev .web-dev-logo .web-dev-icon, #services-section .services-highlight-wrapper .app-dev .web-dev-logo .app-icon, #services-section .services-highlight-wrapper .app-dev .app-logo .uix-icon, #services-section .services-highlight-wrapper .app-dev .app-logo .web-dev-icon, #services-section .services-highlight-wrapper .app-dev .app-logo .app-icon {
  width: 2.1875rem;
  height: 2.13994rem;
  flex-shrink: 0;
}
#services-section .services-highlight-wrapper .uix-design .uix-text, #services-section .services-highlight-wrapper .uix-design .web-dev-text, #services-section .services-highlight-wrapper .uix-design .app-text, #services-section .services-highlight-wrapper .web-dev .uix-text, #services-section .services-highlight-wrapper .web-dev .web-dev-text, #services-section .services-highlight-wrapper .web-dev .app-text, #services-section .services-highlight-wrapper .app-dev .uix-text, #services-section .services-highlight-wrapper .app-dev .web-dev-text, #services-section .services-highlight-wrapper .app-dev .app-text {
  color: #000;
  font-family: "Roboto Mono";
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 139.13% */
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
#services-section .services-highlight-wrapper .uix-design .uix-subtext, #services-section .services-highlight-wrapper .uix-design .web-dev-subtext, #services-section .services-highlight-wrapper .uix-design .app-subtext, #services-section .services-highlight-wrapper .web-dev .uix-subtext, #services-section .services-highlight-wrapper .web-dev .web-dev-subtext, #services-section .services-highlight-wrapper .web-dev .app-subtext, #services-section .services-highlight-wrapper .app-dev .uix-subtext, #services-section .services-highlight-wrapper .app-dev .web-dev-subtext, #services-section .services-highlight-wrapper .app-dev .app-subtext {
  width: 20.625rem;
  height: 6.6875rem;
  flex-shrink: 0;
  text-align: center;
  margin: 0;
}

#portfolio-section {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}
#portfolio-section .portfolio-header-text {
  color: #000;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 4rem;
}
#portfolio-section .portfolio-header-text .portfolio-span {
  color: #000;
  font-family: "Roboto Mono";
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#portfolio-section .portfolio-heading {
  color: #2400FF;
  font-family: "Roboto Mono";
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 91.429% */
}
#portfolio-section #splide01 {
  padding-top: 4rem;
  width: min(100% - 2rem, 100rem);
}
#portfolio-section #splide01-track {
  padding: 1rem;
}
#portfolio-section .splide {
  height: 60vh;
}
#portfolio-section .splide .splide-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  place-content: center;
}
#portfolio-section .splide .splide-wrapper .splide__list .splide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#portfolio-section .splide .splide-wrapper .splide__list .splide__slide .splide-slide-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 28rem;
  height: 24rem;
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to top, #ffffff, #d3c8ff, #a690ff, #7557ff);
}
#portfolio-section .splide .splide-wrapper .splide__list .splide__slide .splide-slide-card .slide-cover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  object-position: center;
  height: 16rem;
}
#portfolio-section .splide .splide-wrapper .splide__list .splide__slide .splide-slide-card .slide-project-title {
  text-align: left;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
  font-weight: 400;
  font-size: larger;
}
#portfolio-section .splide .splide-wrapper .splide__list .splide__slide .splide-slide-card .project-info {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.625rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
#portfolio-section .splide .splide-wrapper .splide__list .splide__slide .splide-slide-card .project-info p {
  border-radius: 0.25rem;
  border: 1px solid var(--light-2, #b8b8b8);
  padding: 0.25rem 0.5rem;
  color: #5e5e5e;
}

#education-section {
  padding: 4rem;
  box-sizing: border-box;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /*
  .education-container {
  	display: flex;
  	width: $sectionWidth;
  	.education-body-section {
  		display: grid;
  		grid-template-columns: repeat(4, 1fr);
  		//grid-template-rows: repeat(6, 1fr);
  		grid-column-gap: 20px;
  		grid-row-gap: 5px; 
  		flex: 1;
  		.education-tree {
  			grid-area: 4 / 1 / 6 / 3;

  			display: grid;
  			grid-template-columns: 1fr .4fr repeat(4, 1fr);
  			grid-template-rows: repeat(5, 1fr);
  			grid-column-gap: 0px;
  			grid-row-gap: 0px; 

  			border: solid blue;

  			.education-left-section { 
  				display: flex;
  				flex: ;
  				.vertical-line-dot-edu { 
  					border: solid brown;
  					grid-area: 2 / 2 / 5 / 3; 

  					display: flex;
  					flex-direction: column;

  					box-sizing: border-box;
  					margin: 0;
  					padding: 0;

  					justify-content: center;
  					.vertical-line {
  						width: 0.0625rem;
  						height: 4em;

  						background: #F1F1F1;


  						.dot-edu {
  							box-sizing: border-box;
  							margin: 0;
  							padding: 0;
  						}
  					}

  				}
  			}
  			.collin-college-edu {
  				border: solid red;
  				grid-area: 2 / 3 / 3 / 6;
  			}
  			.university-washington-edu { 
  				border: solid green($color: #000000);
  				grid-area: 3 / 3 / 4 / 6; 
  			}
  			.cisco-college-edu { 
  				border: solid purple;
  				grid-area: 4 / 3 / 5 / 6; 
  			} 
  		}
  		.education-description { 
  			border: solid yellow;
  			grid-area: 2 / 3 / 4 / 5;
  		}
  		.education-progression { 
  			border: solid orange;
  			grid-area: 4 / 3 / 6 / 5; 
  		} 
  	}
  }
  */
}
#education-section .heading-subheading-text-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
}
#education-section .heading-subheading-text-wrapper .subheading-text-wrapper {
  font-weight: 200;
}
#education-section .heading-subheading-text-wrapper .heading-text-edu {
  color: #30F;
  font-family: "Roboto Mono";
  font-size: 2.1875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  margin: 0;
}
#education-section .education-wrapper {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 1rem;
  border: solid 255;
}
#education-section .education-wrapper .education-timeline {
  flex: 1;
}
#education-section .education-wrapper .education-summary-progression {
  flex: 1;
}
