:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  font-family: "Rubik", sans-serif;
  width: 100%;
}

.header-container {
  width: 100%;
  box-shadow: 0 5px 2px -2px rgb(154, 154, 154);
  display: flex;
  justify-content: center;
}
.header-container .header-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100% - 2rem, 90rem);
}
.header-container .header-sub .logo-name {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header-container .header-sub .logo-name .logo-icon {
  transform: rotate(90deg);
  width: 4vh;
}
.header-container .header-sub .navigation-container .nav-link-wrapper {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.header-container .header-sub .navigation-container .nav-link-wrapper a:link, .header-container .header-sub .navigation-container .nav-link-wrapper :visited {
  text-decoration: none;
  color: black;
}
.header-container .header-sub .navigation-container .nav-link-wrapper .nav-link {
  font-weight: bold;
}

#services-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F9F9F9;
}
#services-section .services-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 3fr 1fr;
  grid-template-rows: repeat(2, 1fr) 2fr repeat(2, 1fr);
  grid-column-gap: 6rem;
  grid-row-gap: 0px;
  width: min(100% - 2rem, 90rem);
  height: 53.125rem;
  flex-shrink: 0;
}
#services-section .services-container .name-wrapper {
  grid-area: 2/2/3/4;
}
#services-section .services-container .name-wrapper .name-span {
  font-weight: 200;
}
#services-section .services-container .name-wrapper .last-name-span {
  color: #2400FF;
}
#services-section .services-container .name-summary {
  grid-area: 3/2/4/5;
}
#services-section .services-container .name-summary .summary {
  color: #232E35;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2rem;
}
#services-section .services-container .name-picture {
  grid-area: 2/5/5/6;
}

.div3 {
  grid-area: 4/2/5/4;
}
